name: release-sphinx-documentation

on:
  push:
    branches:
      - main

jobs:
  publish-sphinx-documentation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"
          cache: "pip" # caching pip dependencies
      - name: Install package dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Install documentation requirements
        run: |
          pip install -r docs/requirements.txt
      - name: Build documentation
        run: |
          sphinx-build -b html ./docs/source ./docs/build/html
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: html-docs
          path: docs/build/html/

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GHPAGES_TOKEN }}
          publish_dir: docs/build/html
          force_orphan: false
